.Shift-Editor {
    $this: &;

    background-color: #366ed1;
    padding-top: 40px;
    padding-bottom: 40px;

    &__input {
        //@extend .input-style;

        display: block;
        padding: 12px 18px;

        &--original {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    &__button {
        
    }

    &__section {
        &--original {

        }

        &--short {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__short {
        &-container {
            //@extend .input-style;
            
            margin-right: 15px;
            display: flex;
            flex-direction: row;
            width: 400px;
        }

        &-prefix {
            font: inherit;
            color: inherit;   
            padding: 12px 0;
            padding-left: 18px;
        }

        &-input {
            outline: none;
            font: inherit;
            color: inherit;
            padding: 12px 0;
            padding-right: 18px;
        }
    }
}
