.Shift-Editor {
    background-color: #366ed1;
    padding-top: 20px;
    padding-bottom: 20px;

    &__input {
        background: #fff;
        border: 0;
        outline: 0;
        padding: 12px 18px;
        border-radius: 2px;
        font-family: inherit;

        &--original {
            width: 100%;
            color: #444;
            display: block;
            margin-bottom: 15px;
        }
    }
}
