// Reset default values
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

// Setting up default values
html,
body {
    background: #fff;
    font-family: "Roboto", sans-serif;
}

// App container
.app-container {
    margin-left: 10%;
    margin-right: 10%;
}
